*{
    font-family: arial;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;

}

nav ul,
nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: 727272;

}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg) ;
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}
.banner_headline h2{
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}


.banner_options{
    height: 210px;
    display: flex;
    
}

.banner1, .banner2, .banner3{
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}


.banner2 {
    background-color: #0079c7;
}


.banner3 {
    background-color: #2b4c99;
}

.banner_title{
    font-size: 21px;

}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a{
    width: fit-content;
    display: block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.hours {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid rgb(255,255, 255, 0.1);
}

.list {
    margin-top: 20px;
}

span {
    font-size: 12px;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex:2;
}

#geral aside{
    flex: 1;
}

.widhet_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widhet_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widhet_title_bar{
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
}

.contato{
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.widget_body{
    display: flex;
    flex-wrap: wrap;
}
.block {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.square {
    width: 150px;
    height: 150px;
    background-color: #42b3e5;
    
}

.flex { 
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}


article .news_posted_at{
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments{
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img{ 
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}

article .news_resume {
    color: #555555;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}

.fm1, .fm2, .fm3{
    flex: 1;
    padding: 20px;
}
.fm1 {
    background-color: #39aae1;
}


.fm2 {
    background-color: #0079c7;
}


.fm3 {
    background-color: #2b4c99;
}


.footer_area {
    display: flex;
    color: white;

}

.footer_areaitem{
    flex: 1;
}


.flexcomumn {
    flex-direction: column;
}

footer .widhet_title_text {
    color: white;
}

.footer_copy {
    border-top: 1px solid #2c2c2c ;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.titlefm {
    font-size: 25px;
    color: white;
}
.textfm {
    margin-top: 15px;
    font-size: 12px;
    color: white;
}
.text_clinic {
    color: #5c5c5c;
    font-size: 12px;
}
footer .list {
    color: #5c5c5c;
}
.text_fm {
    color: white;
    font-size: 12px;
    margin-top: 20px;
}
.body_text {
    margin-right: 20px;
}

.blue_data {
    color: #0079c7;
    font-size: 10px;
}
.text2_fm{
    font-size: 12px;
    margin-top: 20px;
    color: #5c5c5c;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 600px) {
    .banner_headline{
        padding: 20px;
    }

    .banner_headline h1{
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options, .footer_menu, .footer_area  {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    #geral section, #geral aside {
        padding: 20px;
    }

    .footer_area{
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0%;
        width: 100%;
        background-color: white;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}
